<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile [colspan]="'2'" [rowspan]="'1'" [style.background]="'#C6D32D'">
    <mat-form-field>
      <mat-select [(value)]="selectedMetric" placeholder="Select metric">
        <mat-option *ngFor="let metric of metricsOption" [value]="metric.value">
          {{metric.desc}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="'2'" [rowspan]="'1'" [style.background]="'#C6D32D'">
    <mat-form-field>
      <mat-select [(value)]="selectedLocate" placeholder="Select locate">
        <mat-option *ngFor="let locate of locateOptions" [value]="locate.value">{{ locate.desc}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="'2'" [rowspan]="'1'" [style.background]="'#e2e2e2'">
    <mat-form-field>
      <input matInput [matDatepicker]="pickerFrom" placeholder="Date from" (dateChange)="dateFrom($event)">
      <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
      <mat-datepicker #pickerFrom></mat-datepicker>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="'2'" [rowspan]="'1'" [style.background]="'#e2e2e2'">
    <mat-form-field>
      <input matInput [matDatepicker]="pickerTo" placeholder="Date to" (dateChange)="dateTo($event)">
      <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
      <mat-datepicker #pickerTo></mat-datepicker>
    </mat-form-field>
  </mat-grid-tile>

</mat-grid-list>











<table *ngIf="this.arrayWeather.length> 0" mat-table [dataSource]="this.arrayWeather" class="mat-elevation-z8">
  <!-- year Column -->
  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> Year </th>
    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
  </ng-container>

  <!-- month Column -->
  <ng-container matColumnDef="month">
    <th mat-header-cell *matHeaderCellDef> Month </th>
    <td mat-cell *matCellDef="let element"> {{element.month}} </td>
  </ng-container>

  <!-- value Column -->
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef> Value </th>
    <td mat-cell *matCellDef="let element"> {{element.value}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>



</table>

